@import '../../components/layouts/home-5/BookCard.scss';

a {
  color: #0275d8 !important;
}

h6 {
  margin-bottom: 0.2em;
}

.heading {
  color: black;
  margin-bottom: 0.2em;
}

section {
  background: revert;
  color: black;
  padding-bottom: 0;
}

.tf-item-details {
  h2 {
    margin-bottom: 20px !important;
  }
}

.metadata {
  display: flex;
  flex-direction: column;

  h2 {
    @include truncateText(2);
    padding-bottom: revert;
  }

  .description {
    margin-bottom: 1em;
  }

  .details {
    margin-left: revert;
    margin-bottom: 2em;

    h6 {
      width: 100%;
      margin-bottom: 0.8em;
    }

    .col-6 {
      margin-bottom: 1em;
      padding-left: revert;
    }
  }
}

.price-box {
  p {
    font-weight: revert;
    color: revert;
  }

  small {
    font-weight: 400;
  }
}

.sc-card-product {
  margin-bottom: 8em !important;
  border-radius: 2em;
  border: 1px solid rgb(231, 224, 224);
  padding: 2em;
  box-shadow: 1.01824951171875px 35.02606201171875px 61px 2px rgba(17, 12, 46, 0.11);
  height: 40em;
}

.priceComponent {
  margin-left: 6em;
  right: 0;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: -1.5em;
  background-color: #b6e8c240;
}

.author {
  display: flex;
  margin-bottom: 2em;
  padding-left: revert;

  .avatar {
    height: 4em;
    border-radius: 0.5em;
  }

  .info {
    margin-left: 2em;
  }
}

.topBar {
  border-top: 1px solid #e5e5e5;
  padding-top: 2em;
}

.themesflat-tabs {
  display: none;
}

.bonus-content {
  border: 1px solid black;
  padding: 0.2em;
}
