// .card-media {
//   text-align: center;

//   .coming-soon {
//     left: revert !important;
//     right: 0.9em !important;
//     top: revert !important;
//     bottom: 0 !important;
//     text-transform: lowercase !important;
//     padding: 3px 10px !important;
//   }
// }

.sc-card-product {
  display: flex;
  flex-direction: column;
}

.media {
  display: flex;
  margin-bottom: 2em;

  .metadata {
    align-self: flex-end;
    width: 50%;
    text-align: right;
  }
}

.card-title .style2 {
  max-width: revert !important;
}

.description {
  display: flex;
  flex-direction: column;

  p {
    margin: 0.4em auto;
    -webkit-line-clamp: 6;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
  }

  .more-details {
    margin-top: 7px;
    align-self: flex-end;
  }
}
