// .card-media {
//   text-align: center;

//   .coming-soon {
//     left: revert !important;
//     right: 0.9em !important;
//     top: revert !important;
//     bottom: 0 !important;
//     text-transform: lowercase !important;
//     padding: 3px 10px !important;
//   }
// }

@mixin truncateText($lineClamp) {
  padding-bottom: 0.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: $lineClamp;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

a {
  color: #0275d8;
}

.card-title {
  margin-bottom: revert !important;

  h4 {
    font-weight: 600;
    margin-bottom: 0.5em !important;
    @include truncateText(2);
  }
}

.sc-card-product {
  display: flex;
  flex-direction: column;
}

.media {
  display: flex;
  margin-bottom: 2em;

  .metadata {
    width: 50%;
    text-align: left;

    h6 {
      text-transform: capitalize;
      margin-top: 0.5em;
    }

    p {
      @include truncateText(2);
    }

    a {
      font-size: smaller;
    }
  }
}

.card-title .style2 {
  max-width: revert !important;
}

.description {
  display: flex;
  flex-direction: column;

  p {
    // margin: 0.4em revert;
    @include truncateText(6);
  }

  .more-details {
    margin-top: 7px;
    align-self: flex-end;
  }
}
