.heading {
  display: inline;
}

.descriptionBlock {
  z-index: 2;
  padding: 2.5em;
  text-align: center;
  background: var(--bg-section2) !important;
  border-bottom: .15em solid rgb(212, 212, 212);
}

.descriptionBlock.style2 {
  text-align: center !important;
  margin-top: 1em;
}

.swiper {
  height: 65em !important;
}